/* List Block
--------------------------------------------- */
ul li a,
ol li a {
  text-decoration: inherit;
  color: inherit;
}

.is-style-default,
.is-style-square {
  padding-left: 22px;
}

.is-style-square {
  list-style-type: square;
}

.is-style-checklist,
.is-style-checklist-circle,
.is-style-none {
  list-style: none;
  padding-left: 0;
}

.is-style-checklist li {
  display: flex;
  align-items: flex-start;
}

.is-style-checklist li::before {
  content: "";
  mask: url(assets/images/checklist.svg);
  -webkit-mask: url(assets/images/checklist.svg);
  height: 1.5em;
  width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  background: currentcolor;
  align-self: center;
}

.is-style-checklist-circle li {
  display: flex;
  align-items: flex-start;
  column-gap: 8px;
}

.is-style-checklist-circle li::before {
  content: "";
  mask: url(assets/images/checklist-circle.svg);
  -webkit-mask: url(assets/images/checklist-circle.svg);
  height: 1em;
  width: 1em;
  min-height: 1em;
  min-width: 1em;
  background: currentcolor;
  align-self: center;
}

/* Button Block
--------------------------------------------- */
.wp-block-button[style*=text-decoration] .wp-block-button__link {
  text-underline-offset: 5px;
}

/* Separator Block
--------------------------------------------- */
hr.wp-block-separator.has-background {
  height: 2px !important;
}
hr.wp-block-separator.is-style-dots {
  height: auto !important;
}
hr.wp-block-separator.is-style-dotted {
  width: 100% !important;
  border-bottom: none !important;
  height: 1px !important;
  background: repeating-linear-gradient(90deg, currentcolor, currentcolor 2px, transparent 2px, transparent 6px) !important;
}
hr.wp-block-separator.is-style-wide-thin-line {
  height: 1px !important;
  border-width: 1px !important;
  width: 100% !important;
}
hr.wp-block-separator.is-style-left-aligned {
  margin-left: 0 !important;
}
hr.wp-block-separator.is-style-right-aligned {
  margin-right: 0 !important;
}