<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	<!-- wp:pattern {"slug":"jadro/hero-banner"} /-->
	<!-- wp:pattern {"slug":"jadro/features"} /-->
	<!-- wp:pattern {"slug":"jadro/testimonials"} /-->
	<!-- wp:pattern {"slug":"jadro/team-members"} /-->
	<!-- wp:pattern {"slug":"jadro/pricing-table"} /-->
	<!-- wp:pattern {"slug":"jadro/cta-two-columns"} /-->
	<!-- wp:pattern {"slug":"jadro/latest-articles"} /-->
	<!-- wp:pattern {"slug":"jadro/cta-default"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
