<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:pattern {"slug":"jadro/hero-banner"} /-->
<!-- wp:pattern {"slug":"jadro/features"} /-->
<!-- wp:pattern {"slug":"jadro/testimonials"} /-->
<!-- wp:pattern {"slug":"jadro/team-members"} /-->
<!-- wp:pattern {"slug":"jadro/pricing-table"} /-->
<!-- wp:pattern {"slug":"jadro/cta-two-columns"} /-->
<!-- wp:pattern {"slug":"jadro/latest-articles"} /-->
<!-- wp:pattern {"slug":"jadro/cta-default"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
